*.[oa]
*~
*.mo
Makefile
Makefile.in
/src/kanatest
/aclocal.m4
/config.h
/config.h.in
/config.log
/configure
/autom4te.cache/
/config.status
/install-sh
/compile
/depcomp
/missing
/stamp-h1
/src/.deps/
